body {
  /* gray background */
  background-color: #dadadaee;
  font-family: 'Times New Roman', Times, serif;
}

.letter-container {
  background-color: #ffffff;
  max-width: 820px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  /* add black outline */
  border: 1px solid black;
}

.sender-column {
  text-align: right;
}

.sender-column p {
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

p,ul,ol,dl,address {
  font-size: 1.1em;
}

p, li, dd, dt, address {
  line-height: 1.5;
}