body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 900px;
}

#container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.roundbox {
    background-color: #cfe8dc;
    border-radius: 10px;
    border: 2px solid #4fb9e3;
    padding: 10px
}

#head {
    grid-column: 1 / 13;
    grid-row: 1;
}

#item1 {
    grid-column: 1 / 7;
    grid-row: 2 / 5;
}

#item2 {
    grid-column: 7 / 11;
    grid-row: 2/ 3;
}

#item3 {
    grid-column: 1 / 3;
    grid-row: 7 / 12;
}

#item4 {
    grid-column: 3/ 5;
    grid-row: 6 / 12;
}

#item5 {
    grid-column: 5/7;
    grid-row: 5/12;
}

#item6 {
    grid-column: 7/9;
    grid-row: 4/12;
}

#item7 {
    grid-column: 9/11;
    grid-row: 3/12;
}

#item8 {
    grid-column: 11/13;
    grid-row: 2 / 12;
}

#foot {
    grid-column: 1 / 13;
    grid-row: 12;
}