body input.required {
    background-color: cyan;
    border: solid 1px gray;
}

body * {
    margin-bottom: 2px;
}

div>label:first-child {
    float: left;
    width: 125px;
}

.clr {
    clear: both;
}

input[type="text"] {
    width: 250px;
    height: 25px;
    background-color: rgb(235, 235, 235);
    border: solid 1px gray;
}

input[type="password"] {
    width: 250px;
    height: 25px;
    background-color: rgb(235, 235, 235);
    border: solid 1px gray;
}


textarea {
    width: 250px;
    background-color: rgb(235, 235, 235);
    border: solid 1px gray;
}

button {
    background-color: rgb(11, 125, 218);
    color: white;
    border: none;
    padding: 10px;
}

span {
    color: red;
}